body, h1, p {
    font-family: 'Arial', 'Helvetica', sans-serif;
}

body {
    background-color: lightcoral; 
}

p span.line1 {
    font-family: 'Arial';
}

p span.line2 {
    font-family:'Times New Roman', Times, serif;
}

p span.line3 {
    font-family: 'Tahoma';
}

p span.line4 {
    font-family: 'Geneva';
}

p span.line5 {
    font-family: 'Verdana';
}

